$1

.grid {
    @include lucky-grid-container($direction: row, $wrap: wrap);

    .column {
        @include lucky-grid-column;
        margin-bottom: 1rem;
        padding: 0.5rem;
    }
}

@each $key, $breakpoint in $breakpoints {
    @include media($key) {
        .grid {
            .column {
                &[#{$key}='full'] {
                    @include lucky-grid-column-size('full');
                }
                &[#{$key}='two-third'] {
                    @include lucky-grid-column-size('two-third');
                }
                &[#{$key}='three-quarter'] {
                    @include lucky-grid-column-size('three-quarter');
                }
                &[#{$key}='half'] {
                    @include lucky-grid-column-size('half');
                }
                &[#{$key}='third'] {
                    @include lucky-grid-column-size('third');
                }
                &[#{$key}='quarter'] {
                    @include lucky-grid-column-size('quarter');
                }
                &[#{$key}='fifth'] {
                    @include lucky-grid-column-size('fifth');
                }
            }
        }
    }
}