<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% hook 'seomaticRender' %}
		<script>// Insert WebFont Code Here. Or delete if you aren't using one.</script>
		<style type="text/css">{{ source('critical.css') }}</style>
		{% if not craft.config.devMode %}
			<link rel="preload" href="{{ url('assets/site.css') }}" as="style" onload="this.rel='stylesheet'">
			<noscript><link rel="stylesheet" href="{{ url('assets/site.css') }}"></noscript>
			<script>
				{{ source('loadCSS.js') }}
				{{ source('cssrelpreload.js') }}
			</script>
		{% else %}
			<link rel="stylesheet" href="{{ url('assets/site.css') }}">
		{% endif %}
		<script src="{{ url('assets/site.js') }}" charset="utf-8" defer></script>
	</head>
	<body>
		<div id="site">
		</div>
	</body>
</html>